
.layout {
    height: 100vh;

    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .main {
        margin-top: 100px;
    }

}


