
.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;
        
    }

    .main {
        transition: all 0.2s ease;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;
    }

}


